  /* wildcard styling */
  * {
    box-sizing: border-box;
}
html{background-color: black;}
/* padding for whole body */
body {
    padding: 15px;
}
 h1 {color: rgb(0, 0, 0);}
/* styling body */
.container {
    max-width: 1200px;
    
    text-align: left;
   
}
.container ul {
    list-style-type: none;
    display: block;
    background-color: blueviolet;
    font-size: 20;
    
}
.container ul li {display: inline-block;
margin: 30px;
}


.container{font-size: 30;}
 
/* anchor tag decoration */
a {
    text-decoration: none;
    color: #0b2a88;
}
 
a:hover {
    color: rgb(132, 213, 240);
}
 
/* paragraph tag decoration */
p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;

}
 
/* row and column decoration */
.row {
    margin: 0px -18px;
    padding: 8px;
}
 
.row > .column {
    padding: 6px;
}
 
.column {
    float: center;
    width: 30%
    ;
}
.column1 {
    float: center;
    width: 100%
    ;
}
.column2 {
    float: center;
    width: 75%
    ;
}
 
.row:after {
    content: "";
    display: table;
    clear: both;
}
 
/* content decoration */
.content {
    background-color: blueviolet;
    padding: 10px;
    border: 1px solid gray;
}
 
/* window size 850 width set */
@media screen and (max-width: 850px) {
    .column {
        width: 50%;
    }
}

/* window size 400 width set */
@media screen and (max-width: 400px) {
    .column {
        width: 100%;
    }
}
footer {text-align: center;
font-size: 5;}
</style>
